/**
 * General Navigation styles.
 */

.wp-block-navigation {
	position: relative;
	// Normalize list styles.
	ul,
	ul li {
		list-style: none;

		// Overrides generic ".entry-content li" styles on the front end.
		padding: 0;
	}
}

// Navigation block inner container.
.wp-block-navigation__container {
	// Vertically center child blocks, like Social Links or Search.
	align-items: center;

	// Reset the default list styles
	list-style: none;
	margin: 0;
	padding-left: 0;

	// Only hide the menu by default if responsiveness is active.
	.is-responsive {
		display: none;
	}

	@include break-small() {
		// Horizontal layout
		display: flex;
		flex-wrap: wrap;

		// Vertical layout
		.is-vertical & {
			display: block;
			flex-direction: column;
			align-items: flex-start;
		}
	}
}

// Justification.
// These target the named container class to work even with the additional mobile menu containers.
.items-justified-center .wp-block-navigation__container {
	justify-content: center;
}

.items-justified-right .wp-block-navigation__container {
	justify-content: flex-end;
}

.items-justified-space-between .wp-block-navigation__container {
	justify-content: space-between;
}

// Vertical justification.
.is-vertical.items-justified-center > ul {
	align-items: center;
}

.is-vertical.items-justified-right > ul {
	align-items: flex-end;

	.wp-block-navigation-link,
	.wp-block-pages-list__item {
		margin-right: 0;
		justify-content: flex-end;
	}
}

/**
 * Mobile menu.
 */

.wp-block-navigation__responsive-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	/*
		arbitrary, high z-index
		@todo: find correct value in order to make sure
		that this is always on top.
	*/
	z-index: 1;
	align-items: flex-start;
	justify-content: flex-start;

	// Provide an opinionated default style for menu items inside.
	// Inherit as much as we can regarding colors, fonts, sizes,
	// but otherwise provide a baseline.
	// In a future version, we can explore more customizability.
	&.is-menu-open {
		display: flex;
		flex-direction: column;

		// Allow modal to scroll.
		overflow: auto;

		// Give it a z-index just higher than the adminbar.
		z-index: 100000;

		padding: 24px;
		background-color: inherit;

		.wp-block-navigation__container {
			display: flex;
			flex-direction: column;
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
			align-items: flex-start;
			line-height: 48px;
			padding: 48px 0;

			.wp-block-page-list {
				flex-direction: column;
			}
		}
	}

	@include break-small() {
		&:not(.is-menu-open) {
			display: flex;
			flex-direction: row;
			position: relative;
			background-color: inherit;

			.wp-block-navigation__responsive-container-close {
				display: none;
			}
		}

		&.is-menu-open {
			flex-direction: row;

			.wp-block-navigation__container {
				flex-direction: row;
			}
		}
	}
}

// Default menu background and font color.
.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
	background-color: #fff;
	color: #000;
}

// Hide empty paragraph tags caused by wpautop.
// @todo, need to not output them in the first place.
.wp-block-navigation > p,
.wp-block-navigation__responsive-container [data-micromodal-close] > p,
.wp-block-navigation__responsive-container [role="dialog"] > p,
.wp-block-navigation__responsive-container > p {
	display: none;
}

// Menu and close buttons.
.wp-block-navigation__responsive-container-open,
.wp-block-navigation__responsive-container-close {
	vertical-align: middle;
	cursor: pointer;
	color: currentColor;
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;

	svg {
		fill: currentColor;
		pointer-events: none;
		display: block;
		width: 24px;
		height: 24px;
	}
}

// Button to open the menu.
.wp-block-navigation__responsive-container-open {
	@include break-small {
		display: none;
	}
}

// Button to close the menus.
.wp-block-navigation__responsive-container-close {
	position: absolute;
	top: 24px;
	right: 24px;
	z-index: 2; // Needs to be above the modal z index itself.
}

// The menu adds a wrapping container.
.wp-block-navigation__responsive-close,
.wp-block-navigation__responsive-dialog,
.wp-block-navigation__responsive-container-content {
	width: 100%;
	height: 100%;
}

// Always show submenus fully expanded inside the modal menu.
.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open {
	// This is clickable at the moment, though does not seem tabbable.
	// @todo, verify that it doesnt' need a focus style.
	&:focus {
		outline: none;
	}

	.wp-block-page-list__submenu-icon,
	.wp-block-navigation-link__submenu-icon {
		display: none;
	}

	.has-child .submenu-container,
	.has-child .wp-block-navigation-link__container {
		position: relative;
		opacity: 1;
		visibility: visible;

		padding: 0 0 0 32px;
		border: none;
	}

	.wp-block-navigation-link,
	.wp-block-pages-list__item {
		flex-direction: column;
		align-items: flex-start;
	}
}

html.has-modal-open {
	overflow: hidden;
}
